::-webkit-scrollbar {
    /* width: 18px; */
    width: 17px;
}


::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #3974FE;
}

::-webkit-scrollbar-thumb {
    background-color: #3974FE;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #3974FE;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3974FE;
  }

/* image link hover animation */
a img {
    transition: transform .5s ease;
}

a:hover img {
    transform: scale(1.1);
}


/* hidden scrollbar with overlfow-auto */
.scrollbar-hidden {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}




